.form-group {
  border: 1px solid gray;
  padding: 20px;
  width: 100%;
}

.form-group > label {
  /*width: 100px;*/
}

.form-group > input {
  /*margin-left: 50px;*/
}


.containerPulsantiDettaglioFormCliente {
  margin-top: 20px;
  margin-bottom: 20px;
}

.buttonSalvaUtente {
  text-align: center;
  border: 2px solid black;
  background: green;
  color: white;
  font-weight: bold;
  /*margin-left: 10%;*/
  cursor: pointer;
  /*float: left;*/
}

.cancellaFormUtente {
  text-align: center;
  border: 2px solid black;
  background: red;
  color: white;
  font-weight: bold;
  /*margin-left: 10%;*/
  cursor: pointer;
  float: right;
}

.pulisciFormUtente {
  text-align: center;
  border: 2px solid black;
  background: white;
  color: black;
  font-weight: bold;
  /*margin-left: 10%;*/
  cursor: pointer;
  /*float: left;*/
}


.linkHomePAge {
  color: red;
  font-size: 1.2rem;
  cursor: pointer;
  text-align: center;
  margin-top: -10px;
  margin-bottom: 30px;
}

.linkHomePAge:hover {
  color: hotpink;
  text-decoration: underline;
}
