.form-group {
  border: 1px solid gray;
  padding: 20px;
  width: 500px;
}

.form-group > label {
  width: 100px;
}

.form-group > input {
  margin-left: 50px;
}

.buttonSalvaUtente {
  text-align: center;
  border: 2px solid black;
  background: green;
  color: white;
  font-weight: bold;
  margin-left: 10%;
  cursor: pointer;
  float: left;
}

.cancellaFormUtente {
  text-align: center;
  border: 2px solid black;
  background: red;
  color: white;
  font-weight: bold;
  margin-left: 10%;
  cursor: pointer;
  float: left;
}

.pulisciFormUtente {
  text-align: center;
  border: 2px solid black;
  background: white;
  color: black;
  font-weight: bold;
  margin-left: 10%;
  cursor: pointer;
  float: left;
}
