<div *ngIf="utenteSelezionato">
  <h1>dettaglio utente</h1>

  <form>
    <div class="form-group">
      <label for="idUtente">ID:</label>
      <input name="idUtente" id="idUtente" type="text" />
    </div>

    <div class="form-group">
      <label for="nomeUtente">Nome:</label>
      <input name="nomeUtente" id="nomeUtente" type="text" />
    </div>

    <div class="form-group">
      <label for="cognomeUtente">Cognome:</label>
      <input name="cognomeUtente" id="cognomeUtente" type="text" />
    </div>

    <div class="form-group">
      <label for="cfUtente">CF:</label>
      <input name="cfUtente" id="cfUtente" type="text" />
    </div>

    <div class="form-group">
      <label for="emailUtente">Email:</label>
      <input name="emailUtente" id="emailUtente" type="email" />
    </div>

    <div class="form-group">
      <label for="telefonoUtente">Telefono:</label>
      <input name="telefonoUtente" id="telefonoUtente" type="tel" />
    </div>

    <div class="form-group">
      <label for="comuneUtente">Comune:</label>
      <input name="comuneUtente" id="comuneUtente" type="text" />
    </div>

    <div class="form-group">
      <label for="etaUtente">Età:</label>
      <input name="etaUtente" id="etaUtente" type="text" />
    </div>

    <div class="form-group">
      <button class="buttonSalvaUtente">SALVA</button>
    </div>
  </form>

  <div class="form-group">
  <button class="cancellaFormUtente" (click)="annullaModificaUtente()">ANNULLA</button>
  </div>
</div>
