<div>
  <h1 (click)="tornaHomePage()" class="linkHomePAge">TORNA HOME</h1>

  <h1 *ngIf="utenteForm">
    UTENTE (ID {{ utenteForm?.id }}) - {{ utenteForm?.nome }}
    {{ utenteForm?.cognome }}
  </h1>

  <div class="row containerPulsantiDettaglioFormCliente">
    <div class="col-4">
      <button class="buttonSalvaUtente" (click)="salvaUtente()">SALVA</button>
    </div>
    <div class="col-4" style="text-align: center">
      <button class="pulisciFormUtente" (click)="svuotaCampiForm(f.form)">
        PULISCI FORM
      </button>
    </div>

    <div class="col-4">
      <button
        class="cancellaFormUtente"
        (click)="annullaModificaUtente(f.form)"
      >
        ANNULLA
      </button>
    </div>
  </div>

  <form #f="ngForm">
    FORM VALUE: {{ f.form.value | json }}
    <div class="form-row">
      <div class="form-group col-sm-6">
        <label for="idUtente">ID:</label>
        <input
          [(ngModel)]="utenteForm.id"
          name="idUtente"
          id="idUtente"
          type="number"
          disabled="true"
          class="form-control"
          style="margin-left: 0;"
        />
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-sm-6">
        <label for="nomeUtente">Nome:</label>
        <input
          [(ngModel)]="utenteForm.nome"
          name="nomeUtente"
          id="nomeUtente"
          type="text"
          class="form-control"
          style="margin-left: 0;"
        />
      </div>

      <div class="form-group col-sm-6">
        <label for="cognomeUtente">Cognome:</label>
        <input
          [(ngModel)]="utenteForm.cognome"
          name="cognomeUtente"
          id="cognomeUtente"
          type="text"
          class="form-control"
          style="margin-left: 0;"
        />
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-sm-6">
        <label for="cfUtente">CF:</label>
        <input
          [(ngModel)]="utenteForm.cf"
          name="cfUtente"
          id="cfUtente"
          type="text"
          class="form-control"
          style="margin-left: 0;"
        />
      </div>

      <div class="form-group col-sm-6">
        <label for="emailUtente">Email:</label>
        <input
          [(ngModel)]="utenteForm.email"
          name="emailUtente"
          id="emailUtente"
          type="email"
          class="form-control"
          style="margin-left: 0;"
        />
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-sm-6">
        <label for="telefonoUtente">Telefono:</label>
        <input
          [(ngModel)]="utenteForm.telefono"
          name="telefonoUtente"
          id="telefonoUtente"
          type="tel"
          class="form-control"
          style="margin-left: 0;"
        />
      </div>

      <div class="form-group col-sm-6">
        <label for="comuneUtente">Comune:</label>
        <input
          [(ngModel)]="utenteForm.comune"
          name="comuneUtente"
          id="comuneUtente"
          type="text"
          class="form-control"
          style="margin-left: 0;"
        />
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-sm-6">
        <label for="etaUtente">Età:</label>
        <input
          [(ngModel)]="utenteForm.eta"
          name="etaUtente"
          id="etaUtente"
          type="number"
          class="form-control"
          style="margin-left: 0;"
        />
      </div>
    </div>
  </form>

  <div class="row containerPulsantiDettaglioFormCliente">
    <div class="col-4">
      <button class="buttonSalvaUtente" (click)="salvaUtente()">SALVA</button>
    </div>
    <div class="col-4" style="text-align: center">
      <button class="pulisciFormUtente" (click)="svuotaCampiForm(f.form)">
        PULISCI FORM
      </button>
    </div>

    <div class="col-4">
      <button
        class="cancellaFormUtente"
        (click)="annullaModificaUtente(f.form)"
      >
        ANNULLA
      </button>
    </div>
  </div>
</div>
