table {
  border: 1px solid #c0c0c0;
  border-collapse: collapse;
  width: 100%;
}

.thTabellaUtenti {
  font-size: 0.8rem;
  border: 5px solid blue;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  color: black;
  background: rgba(21, 92, 124, 0.479);
  width: 10%;
}

.tdTabellaUtenti {
  font-size: 0.6rem;
  border: 5px solid blue;
  text-align: center;
  background: rgb(4, 59, 85);
  color: white;
  padding-left: 5px;
  padding-right: 5px;
  text-transform: capitalize;
  width: 10%;
}

.captionTableUtenti {
  background: green;
  color: white;
  text-align: center;
}
