<div class="row">
  <h5>DATA CURRENT: {{ dataOdierna | date: 'dd/mm/yyyy HH:mm:ss' }}</h5>
</div>
<div class="row">
  <h5>DATA SHORT: {{ dataOdierna | date: 'long' }}</h5>
</div>
<div class="row">
  <div class="col-3">
    <p>Aggiorna orario</p>
  </div>
  <div class="col-6">
    <button (click)="refreshData()" class="buttonRefreshData">
      REFRESH DATA <i class="bi bi-arrow-clockwise"></i>
    </button>
  </div>
</div>

<i class="bi bi-bag"></i>
<a href="https://icons.getbootstrap.com/">ICONE LINK</a>

<div class="row">
  <div class="col-12">
    <h1>Stringa : {{ stringProva | uppercase | titlecase }}</h1>
  </div>
</div>
<!--Titlecase = Prima lettere di ogni parola in Maiuscolo-->

<div class="row">
  <table class="table-primary">
    <caption class="captionTableUtenti">
      {{
        footerTable
      }}
      - Tot Elements =
      {{
        users.length
      }}
    </caption>
    <thead>
      <tr class="table-primary">
        <th scope="col" class="thTabellaUtenti">AZIONE</th>
        <th scope="col" class="thTabellaUtenti">ID</th>
        <th scope="col" class="thTabellaUtenti">NOME</th>
        <th scope="col" class="thTabellaUtenti">COGNOME</th>
        <th scope="col" class="thTabellaUtenti">CF</th>
        <th scope="col" class="thTabellaUtenti">EMAIL</th>
        <th scope="col" class="thTabellaUtenti">TELEFONO</th>
        <th scope="col" class="thTabellaUtenti">COMUNE</th>
        <th scope="col" class="thTabellaUtenti">ETA'</th>
      </tr>
    </thead>

    <!--
      <tr *ngFor="let user of users">
        <td class="tdTabellaUtenti">{{ user.id }}</td>
        <td class="tdTabellaUtenti">{{ user.nome }}</td>
        <td class="tdTabellaUtenti">{{ user.cognome }}</td>
        <td class="tdTabellaUtenti">{{ user.cf }}</td>
        <td class="tdTabellaUtenti">{{ user.email }}</td>
        <td class="tdTabellaUtenti">{{ user.telefono }}</td>
        <td class="tdTabellaUtenti">{{ user.comune }}</td>
        <td class="tdTabellaUtenti">{{ user.eta }}</td>
      </tr>
    -->
    <tbody>
      <tr
        class="table-primary"
        app-user
        *ngFor="let utente of users"
        [user-data]="utente"
        (onDeleteUser)="eliminaUtenteDaComponentFiglio($event)"
        (onUpdateUser)="modificaUtenteDaComponenteFiglio($event)"
      ></tr>
    </tbody>
  </table>
</div>

<div class="row">
  <div class="col-6">
    <button
      class="buttonAddClienteBase"
      (click)="addUtenteBase()"
      title="+ Utente"
    >
      ADD CLIENTE BASE
    </button>
  </div>

  <div class="col-6">
  <button
    class="btn btn-primary"
    (click)="addNuovoCliente()"
    title="NUOVO CLIENTE"
  >
    NUOVO CLIENTE
  </button>
</div>
</div>

<br /><br />
