<h5>INIZIO COMPONENTE USERS</h5>
<br /><br />

<table>
  <caption class="captionTableUtenti">
    {{
      footerTable
    }}
  </caption>
  <tr>
    <th class="thTabellaUtenti">AZIONE</th>
    <th class="thTabellaUtenti">NOME</th>
    <th class="thTabellaUtenti">COGNOME</th>
    <th class="thTabellaUtenti">CF</th>
    <th class="thTabellaUtenti">EMAIL</th>
    <th class="thTabellaUtenti">TELEFONO</th>
    <th class="thTabellaUtenti">COMUNE</th>
    <th class="thTabellaUtenti">ETA'</th>
  </tr>

  <!--
  <tr *ngFor="let user of users">
    <td class="tdTabellaUtenti">{{ user.nome }}</td>
    <td class="tdTabellaUtenti">{{ user.cognome }}</td>
    <td class="tdTabellaUtenti">{{ user.cf }}</td>
    <td class="tdTabellaUtenti">{{ user.email }}</td>
    <td class="tdTabellaUtenti">{{ user.telefono }}</td>
    <td class="tdTabellaUtenti">{{ user.comune }}</td>
    <td class="tdTabellaUtenti">{{ user.eta }}</td>
  </tr>
-->

  <tr app-user *ngFor="let utente of users" [user-data]="utente"></tr>
</table>

<br /><br />
<h5>FINE COMPONENTE USERS</h5>
