.tdTabellaUtentiComponentUser {
  font-size: 1rem;
  border: 5px solid blue;
  text-align: center;
  background: gray;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-transform: capitalize;
  width: 10%;
}

.buttonEliminaUtente {
  background: rgb(38, 0, 255);
  color: white;
  font-weight: bold;
}
