.tdTabellaUtentiComponentUser {
  font-size: 1rem;
  border: 5px solid blue;
  text-align: center;
  background: gray;
  color: white;
  padding-left: 5px;
  padding-right: 5px;
  text-transform: capitalize;
}
