<!--INIZIO OPERAZIONE ELIMINA UTENTE-->
<td class="tdTabellaUtentiComponentUser">
  <button class="buttonEliminaUtente" (click)="eliminaUtente(user)">
    ELIMINA
  </button>
</td>
<!--FINE OPERAZIONE ELIMINA UTENTE-->
<td class="tdTabellaUtentiComponentUser">{{ user?.nome }}</td>
<td class="tdTabellaUtentiComponentUser">{{ user?.cognome }}</td>
<td class="tdTabellaUtentiComponentUser">{{ user?.cf }}</td>
<td class="tdTabellaUtentiComponentUser">{{ user?.email }}</td>
<td class="tdTabellaUtentiComponentUser">{{ user?.telefono }}</td>
<td class="tdTabellaUtentiComponentUser">{{ user?.comune }}</td>
<td class="tdTabellaUtentiComponentUser">{{ user?.eta }}</td>
<!--CON IL ? indichiamo che può essere undefined o null la variabile user-->
