<!--INIZIO OPERAZIONE ELIMINA UTENTE-->
<td scope="row" class="tdTabellaUtentiComponentUser">
  <div class="row">
    <div class="col-12">
      <button class="btn btn-danger btn-sm" (click)="eliminaUtente(user)">
        <i class="bi bi-trash-fill"></i> ELIMINA
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <button
        class="btn btn-primary btn-sm"
        style="margin-top:5px"
        (click)="modificaUtente(user)"
      >
        <i class="bi bi-pencil-fill"></i>MODIFICA
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <button
        class="btn btn-light btn-sm"
        style="margin-top:5px"
        (click)="visualizzaUtente(user)"
      >
        <i class="bi bi-eye-fill"></i>VISUALIZZA
      </button>
    </div>
  </div>
</td>
<!--FINE OPERAZIONE ELIMINA UTENTE-->
<td class="tdTabellaUtentiComponentUser">{{ user?.id }}</td>
<td class="tdTabellaUtentiComponentUser">{{ user?.nome }}</td>
<td class="tdTabellaUtentiComponentUser">{{ user?.cognome }}</td>
<td class="tdTabellaUtentiComponentUser">{{ user?.cf }}</td>
<td class="tdTabellaUtentiComponentUser">{{ user?.email }}</td>
<td class="tdTabellaUtentiComponentUser">{{ user?.telefono }}</td>
<td class="tdTabellaUtentiComponentUser">{{ user?.comune }}</td>
<td class="tdTabellaUtentiComponentUser">{{ user?.eta }}</td>
<!--CON IL ? indichiamo che può essere undefined o null la variabile user-->
