<!--NAV BAR-->
<app-navbar (onClickNewUser)="aggiungiUtenteDaHeader($event)"></app-navbar>

<div class="container">
  <div class="row">
    <div class="col-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<!--
<div class="mainDiv container">
  <div class="usersDiv">
    <app-users
      [user-selected]="utenteSelezionato"
      (onUpdateUser)="modificaUtenteDaComponenteFiglio($event)"
    ></app-users>

    <div class="row">
      <div class="col-6">
        <button class="buttonAggiungiUtente" (click)="aggiungiUtenteDaForm()">
          AGGIUNGI NUOVO UTENTE
        </button>
      </div>

      <div class="col-6">
        <button
          *ngIf="utenteSelezionato"
          class="buttonNascondiForm"
          (click)="nascondiForm()"
        >
          NASCONDI FORM
        </button>
      </div>
    </div>
  </div>
  <div class="detailUserDiv">
    <app-user-detail
      *ngIf="utenteSelezionato"
      [user-selected]="utenteSelezionato"
      [utente-da-modificare]="utenteDaModificare"
    ></app-user-detail>
  </div>
</div>
-->

<br /><br /><br />
<h1>--------------------------------------------</h1>
<h1 style="color: red; text-align: center; padding: 20px">
  INIZIO SEZIONE MIA PERSONALE
</h1>

<div class="container">
  <div class="row">
    <div class="col-sm" style="border: 5px solid red">
      <h5>{{titoloApp}}</h5>
    </div>
    <div class="col-sm" style="border: 5px solid blue">
      <h5>VERSIONE ANGULAR- {{versioneAngular}}</h5>
    </div>
    <div class="col-sm" style="border: 5px solid yellow">
      <h5>Sviluppata da : {{nome}} {{cognome}}</h5>
    </div>
  </div>

  <code>INDICE FUORI DAL TABELLA= {{indice}}</code>
  <br />
  <code>indiceTwoBinding FUORI DAL TABELLA= {{indiceTwoBinding}}</code>

  <tabella nome="{{nome}}" cognome="{{cognome}}" [indice]="indice"></tabella>

  <br /><br /><br />

  <h1>FINE PAGINA MAIN.HTML</h1>
</div>
