<h1 (click)="tornaHomePage()" class="linkHomePAge">TORNA HOME</h1>

<table class="table table-dark">
  <tr>
    <td class="infoStaticheUtente firstInfoDettaglioUtente">ID</td>
    <td class="infoDettaglioUtente firstInfoDettaglioUtente">
      {{ dettaglioUtente.id }}
    </td>
  </tr>
  <tr>
    <td class="infoStaticheUtente">NOME</td>
    <td class="infoDettaglioUtente">{{ dettaglioUtente.nome }}</td>
  </tr>
  <tr>
    <td class="infoStaticheUtente">COGNOME</td>
    <td class="infoDettaglioUtente">{{ dettaglioUtente.cognome }}</td>
  </tr>
  <tr>
    <td class="infoStaticheUtente">CODICE FISCALE</td>
    <td class="infoDettaglioUtente">{{ dettaglioUtente.cf }}</td>
  </tr>
  <tr>
    <td class="infoStaticheUtente">EMAIL</td>
    <td class="infoDettaglioUtente">{{ dettaglioUtente.email }}</td>
  </tr>
  <tr>
    <td class="infoStaticheUtente">TELEFONO</td>
    <td class="infoDettaglioUtente">{{ dettaglioUtente.telefono }}</td>
  </tr>
  <tr>
    <td class="infoStaticheUtente">COMUNE</td>
    <td class="infoDettaglioUtente">{{ dettaglioUtente.comune }}</td>
  </tr>
  <tr>
    <td class="infoStaticheUtente lastInfoDettaglioUtente">ETA</td>
    <td class="infoDettaglioUtente lastInfoDettaglioUtente">
      {{ dettaglioUtente.eta }}
    </td>
  </tr>
</table>
